##第一部分：传入参数


#set($map=$MAP)
#set($oldObjectValue=$map.get("oldObjectValue"))


##模板内容

<div class="panel panel-default" style="width:;" id='$map.get("FormId")'>
  <div class="panel-heading">
    <h3 class="panel-title">$map.get("Title")</h3>
  </div>
  <div class="">
  <form action='/$!map.get("Url")' method='post' id='$map.get("FormId")_FORM' class="form-inline">
<table class='zqh_form table table-bordered' >
<input id='$map.get("FormId")_TAGINFO'  name='$map.get("FormId")_TAGINFO' type='hidden' value='$map.get("TagInfo")'/>

			<thead>
				<tr>
				</tr>
			</thead>
			<tbody>
				#set($colNum=0)
				#foreach($column in $map.get("columnsList"))
				
					##第一次for循环....
					#if($velocityCount==1)
						<tr>
					#end
					
					##中间循环....
							
					#if($column.ShowType.Type=='hidden')
							<input name='$map.get("ViewObject").$column.javaVarName' type='hidden' style='$widthStype' 
							#if($oldObjectValue.get(${column.Name}))
							 value='$oldObjectValue.get(${column.Name})'
							#end
							/>
					
					#else
						#set($colNum=$colNum+$column.ShowType.ColSpan+1)
						#if($colNum > $map.get("ColNum"))
							</tr>
							<tr>
							#set($colNum=0+$column.ShowType.ColSpan+1)
						#end
						
							#if(!$null.isNull($oldObjectValue.get(${column.Name})))
								#set($value=$oldObjectValue.get(${column.Name}))
							#else
								#set($value=11111111)
							#end
						
					
							
							<td  class='zqh_form_td_name' style='width:$column.Width'>
							
							
							####【$velocityCount】 
								<label for="$map.get("ViewObject").$column.javaVarName">$column.DisplayName：</label>
							</td>
							
							
							<td colspan=$column.ShowType.ColSpan  class='zqh_form_td_value' style='width:$column.FiledWidth'>
							
									#if($map.get("Editable")=='text')
										#parse("com/hframe/tag/vm/showType_OnlyShow.vm")
									#else
										#parse("com/hframe/tag/vm/showType.vm")
									#end
									
									#if($column.Nullable==0)
										#parse("com/hframe/tag/vm/redstar.vm")
									#end
							</td>
					#end		
					##最后一次for循环....
					#if($velocityCount== $map.get("columnsList").size())
						</tr>
					#end	
					
				
				#end
			</tbody>		
		<tfoot>
				<tr>
					<td class='zqh_form_footer' colspan=100%>
					
					</td>
				</tr>
			</tfoot>
		</table>
		</form>
   </div>
     <div class="panel-footer" style="text-align:center;">