#set($widthStype='')
#set($showType1=$column.ShowType)
#if(!$null.isNull($showType1))
$!column.ShowType.PreStr
#end
#if($column.ShowType.Width!=0)
		#set($widthStype="width:$column.ShowType.Width;")
#end
##只有一个类型的时候
#if($column.ShowType.Type=='input')
	<input type="text" class="form-control" id='$map.get("ViewObject")s.${column.javaVarName}' placeholder="-请输入-"  name='$map.get("ViewObject")s.${column.javaVarName}' style='$widthStype' 
	#########################if($null.isNull($oldObjectValue.get(${column.Name})))这种方法无效，为什么呢
	#if($oldObjectValue.get(${column.Name}))
	 value='$oldObjectValue.get(${column.Name})'
	#end
	/>


#elseif($column.ShowType.Type=='select')

	<select name='$map.get("ViewObject")s.${column.javaVarName}'  class="form-control"   style='$widthStype' >
		#foreach($option in $column.ShowType.optionList)
			<option  value=$option.Value
			#if("{$oldObjectValue.get(${column.Name})}"=="{$option.Value}")
			selected='selected'
			#end
			>$option.Text</option>
		#end
	</select>

#elseif($column.ShowType.Type=='openwin')
	<input  style='$widthStype' type='hidden' name='$map.get("ViewObject")s.${column.javaVarName}'/>
	<input type="text" class="form-control"  disabled='disabled' placeholder="-请选择-" style='$widthStype'  value='$!oldObjectValue.get("${column.Name}_DISPNAME")'/>
	<a href="javascript:void(0);" onclick="magnifier_Sys(this,'${column.ShowType.ShowTypeAttr.Src}?VIEW=${column.ShowType.ShowTypeAttr.View}&TYPE=${column.ShowType.ShowTypeAttr.Type}&CONDITION=$!{column.ShowType.ShowTypeAttr.Condition}&TITLE=$!{column.ShowType.ShowTypeAttr.Title}','{user_id=100&user_name=zhangsan&SCHEMA_MODE=0}',400,500)">
	<img src="test/fangdajing.jpg" width="20" height="20" class="magnifier_img_sys"></a>
#elseif($column.ShowType.Type=='datetime')
		#parse("com/hframe/tag/vm/datetime.vm")
#elseif($column.ShowType.Type=='tipinput')
		#parse("com/hframe/tag/vm/tipinput_FORGRID.vm")
#elseif($column.ShowType.Type=='checkbox')
			<input name='$map.get("ViewObject")s.${column.javaVarName}' style='$widthStype'   type='hidden' value="$!oldObjectValue.get(${column.Name})"
			/><input style='$widthStype'   type='$column.ShowType.Type' onclick='trueFalseCheckboxOnClick_Sys(this)' 
			#########################if($null.isNull($oldObjectValue.get(${column.Name})))这种方法无效，为什么呢
			#if($oldObjectValue.get(${column.Name}))
			 value="1"
			#end
			
			#if($!oldObjectValue.get(${column.Name})==1)
			checked="checked"
			#end
			
			/>
#elseif($column.ShowType.Type=='radio')
	<div class="radio">
		#foreach($option in $column.ShowType.optionList)
			<label>
				<input name='$map.get("ViewObject")s.$column.javaVarName' style='$widthStype' type='radio' value='$option.Value' 
					#if("{$oldObjectValue.get(${column.Name})}"=="{$option.Value}")
					selected='selected'
					#end
				>$option.Text
			</label>
		#end
	<div class="radio">
#else
	#####<input name='$map.get("ViewObject")s.${column.javaVarName}' type='$column.ShowType.Type' style='$widthStype' />
#end
#if(!$null.isNull($showType1))
$!column.ShowType.AfterStr
#end
##拥有多个类型的时候

<div class="form-group form-inline">
#foreach($showType in $column.ShowTypes)
	#if(!$null.isNull($showType.PreStr))
	$!showType.PreStr
	#end
	
	#if($showType.Width!=0)
		#set($widthStype="width:$showType.Width")
	#end
	
	#if($showType.Type=='input')
	
		<input type="text"  class="form-control"  name='$map.get("ViewObject")s.${column.javaVarName}' placeholder='$map.get("ViewObject").$column.javaVarName'  style='$widthStype'  value='$oldObjectValue.get(${column.Name})'/>
	
	
	#elseif($showType.Type=='select')
				#set($selectCount=$velocityCount)
		<select name='$map.get("ViewObject")s.${column.javaVarName}' style='$widthStype'  class="form-control">
			#foreach($option in $showType.optionList)
				<option  value=$option.Value
				#if($option.Value==$oldObjectValue.get(${column.Name}).get($selectCount))
				  			selected='selected'
				#end
				s
				>$option.Text</option>
			#end
		</select>
	
	#elseif($showType.Type=='openwin')
		<input name='$map.get("ViewObject")s.${column.javaVarName}' disabled='disabled' style='$widthStype'/><a href="javascript:void(0);" onclick="magnifier_Sys(this,'myDialog.jsp?VIEW=DiaryGroupList&TYPE=LIST&CONDITION=&TITLE=我日','{user_id=100&user_name=zhangsan}',400,500)"><img src="test/fangdajing.jpg" width="20" height="20" class="magnifier_img_sys"></a>
	#elseif($column.ShowType.Type=='datetime')
		#parse("com/hframe/tag/vm/datetime.vm")
	#else
		<label>
		<input name='$map.get("ViewObject")s.${column.javaVarName}' type='$showType.Type' 
		#foreach($val in $oldObjectValue.get(${column.Name}))
			#if($val==$showType.value)
					checked='checked'
			#end
		#end
		widthStype'/></label>
	#end
	#if(!$null.isNull($showType.AfterStr))
	$!showType.AfterStr
	#end
	
#end
</div>