<input id="'$map.get("ViewObject").$column.javaVarName" type='hidden'  value='$!oldObjectValue.get(${column.Name})'  name='$map.get("ViewObject").$column.javaVarName' style='$widthStype' /><input id="'$map.get("ViewObject").${column.javaVarName}_DISPNAME"  value='$!oldObjectValue.get("${column.Name}_DISPNAME")'   style='$widthStype'  onfocus="showTip_Sys(this,'{sql:$column.ShowType.ElementId}',0)" onblur="hiddenTip_Sys()" onkeyup="tip_Sys(this,'{sql:$column.ShowType.ElementId}')"  /><br>
<ul style="border:1px solid #666666;background:#eeeeee;padding:5px;position:absolute;display:none ;"></ul>
